Source: ros-indigo-naoqi-driver
Section: misc
Priority: extra
Maintainer: Karsten Knese <karsten.knese@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-indigo-catkin, ros-indigo-cv-bridge, ros-indigo-diagnostic-msgs, ros-indigo-diagnostic-updater, ros-indigo-geometry-msgs, ros-indigo-image-transport, ros-indigo-kdl-parser, ros-indigo-naoqi-bridge-msgs (>= 0.0.4), ros-indigo-naoqi-libqi, ros-indigo-naoqi-libqicore, ros-indigo-orocos-kdl, ros-indigo-robot-state-publisher, ros-indigo-rosbag-storage, ros-indigo-rosgraph-msgs, ros-indigo-sensor-msgs, ros-indigo-tf2-geometry-msgs, ros-indigo-tf2-msgs, ros-indigo-tf2-ros
Conflicts: ros-indigo-nao-driver, ros-indigo-naoqi-rosbridge
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-naoqi-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-indigo-cv-bridge, ros-indigo-image-transport, ros-indigo-kdl-parser, ros-indigo-naoqi-bridge-msgs (>= 0.0.4), ros-indigo-naoqi-libqi, ros-indigo-naoqi-libqicore, ros-indigo-orocos-kdl, ros-indigo-robot-state-publisher, ros-indigo-rosbag-storage, ros-indigo-tf2-ros
Description: Driver module between Aldebaran's NAOqiOS and ROS. It publishes all sensor and actuator data as well as basic diagnostic for battery, termperature. It subscribes also to RVIZ simple goal and cmd_vel for teleop.
