Source: ros-noetic-naoqi-driver
Section: misc
Priority: optional
Maintainer: Marine Chamoux <mchamoux@softbankrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, liborocos-kdl-dev, ros-noetic-catkin, ros-noetic-cv-bridge, ros-noetic-diagnostic-msgs, ros-noetic-diagnostic-updater, ros-noetic-geometry-msgs, ros-noetic-image-transport, ros-noetic-kdl-parser, ros-noetic-naoqi-bridge-msgs (>= 0.0.4), ros-noetic-naoqi-libqi, ros-noetic-naoqi-libqicore, ros-noetic-robot-state-publisher, ros-noetic-rosbag-storage, ros-noetic-rosconsole, ros-noetic-rosgraph-msgs, ros-noetic-sensor-msgs, ros-noetic-tf2-geometry-msgs, ros-noetic-tf2-msgs, ros-noetic-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-naoqi-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, liborocos-kdl-dev, ros-noetic-cv-bridge, ros-noetic-image-transport, ros-noetic-kdl-parser, ros-noetic-naoqi-bridge-msgs (>= 0.0.4), ros-noetic-naoqi-libqi, ros-noetic-naoqi-libqicore, ros-noetic-robot-state-publisher, ros-noetic-rosbag-storage, ros-noetic-rosconsole, ros-noetic-tf2-ros
Conflicts: ros-noetic-nao-driver, ros-noetic-naoqi-rosbridge
Description: Driver module between Aldebaran's NAOqiOS and ROS.
 It publishes all sensor and actuator data as well as basic diagnostic for battery, temperature. It subscribes also to RVIZ simple goal and cmd_vel for teleop.
